<div >
<%= image_tag 'Z.jpg', class: "banner", id:"page-top" %>
</div>
<body data-spy="scroll" data-target="#navbar-wagon" >
  <div id="section1" >
    <div class="principal-section1">
     <div class="element1">
       <%= image_tag 'me.jpg' , class: "banner" %>
     </div>
     <div class="element2">
       <h2>Qui Sommes Nous</h2>
       <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
       <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
     </div>
   </div>

  <div id="section2" >
    <h1>Section 2</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  <div id="section3" >
    <h1>TARIFS</h1>
    <div class="principal">
      <div class="women">
        <h2>FEMININ</h2>
        <ul class=leaders>
          <li><span>Shampoing / Coupe / Coiffage</span>
           <span>€35</span>
          <li><span>Shampoing / Coupe / Coiffage/ Couleur</span>
           <span>€57,50</span>
          <li><span>Shampoing / Coupe / Coiffage / Balayge</span>
           <span>€73</span>
          <li><span>Shampoing / Coupe / Coiffage / Permanente</span>
           <span>€68</span>
          <li><span>Coupe enfant - fille</span>
           <span>€10</span>
          <li><span>Coupe enfant - fille</span>
           <span>€16</span>
          <li><span>Coupe enfant - fille</span>
            <span>€22</span>
        </ul>
      </div>
      <div class="man">
        <h2>Masculin</h2>
        <ul class=leaders>
          <li><span>Shampoing / Coupe / Coiffage</span>
           <span>€21</span>
          <li><span>Coupe enfant - garçon</span>
           <span>€9</span>
          <li><span>Coupe enfant - garçon</span>
           <span>€13</span>
          <li><span>Coupe enfant - garçon</span>
           <span>€15</span>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div id="section4">
    <%= image_tag 'banner-contact2.png', class: "banner" %>
    <div class="contact">
      <i class="fa fa-mars" aria-hidden="true"></i>
      <div class="a">
        <p>98 cours du général de gaulle </br> Gradignan 33 170</p>
        <i class="fa fa-phone-square" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <i class="fa fa-venus" aria-hidden="true"></i>
    </div>
  </div> -->
</body>
