<body data-spy="scroll" data-target="#navbar-wagon" >
  <div>
    <%= image_tag 'me2.jpg', class: "banner", id:"page-top" %>
  </div>
  <div id="section1" >
    <div class="principal-section1">
     <div class="element1  mov_left">
       <%= image_tag 'me.jpg' , class: "banner" %>
     </div>
     <div class="element2  mov_right">
       <h2>QUI SOMMES-NOUS ?</h2>
       <p>Aujourd’hui, les “Salon l’essentiel” constituent un réseau où chacun, du propriétaire aux collaborateurs, apporte son talent et ses qualités personnelles.</p>
       <p>C’est grâce à cet échange constant que les salons évoluent et peuvent rester ouverts à toutes les nouvelles tendances.</p>
     </div>
    </div>
  </div>

  <div id="section2" >
    <h1 class="text-center">VISITE 360</h1>
    <p class="text-center">Café, apéro, sourire, background music.. Un bar lounge à Gradignan ?</p>
    <div class="text-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sfr!2sfr!4v1483541305670!6m8!1m7!1s2phyaoyVIQUAAAQ0HhEkMA!2m2!1d44.77403295402318!2d-0.6129909458252314!3f145.5812696385602!4f-4.068555018399167!5f0.7820865974627469" align="middle" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div id="section3" >
    <h1 class="text-center">TARIFS</h1>
    <div class="principal">
      <div class="women">
        <h2>FEMININ</h2>
        <ul class=leaders>
          <li><span>Shampoing/Coupe/Coiffage</span>
           <span>35 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Shampoing/Coupe/Coiffage/Couleur</span>
           <span>57,50 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Shampoing/Coupe/Coiffage/Balayge</span>
           <span>73 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Shampoing/Coupe/Coiffage/Permanente</span>
           <span>68 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - 7 ans</span>
           <span>10 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - 12 ans</span>
           <span>16 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - 18 ans</span>
            <span>22 <i class="fa fa-eur" aria-hidden="true"></i></span>
        </ul>
      </div>
      <div class="man">
        <h2>MASCULIN</h2>
        <ul class=leaders>
          <li><span>Shampoing/Coupe/Coiffage</span>
           <span>21 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - 7 ans</span>
           <span>9 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - 12 ans</span>
           <span>13 <i class="fa fa-eur" aria-hidden="true"></i></span>
          <li><span>Coupe enfant - 18 ans</span>
           <span>15 <i class="fa fa-eur" aria-hidden="true"></i></span>
        </ul>
      </div>
    </div>
  </div>
</body>
