/* Banner design */
.banner-home {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:contain;
}

.banner-home h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-home h2{
  color: #f6964b;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #7b9f57;
    margin: 1em 0;
    padding: 0;
}


.banner-home p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
