/* Footer design */
#section4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image:url("brique-brown.jpeg");
  background-repeat: no-repeat;
  background-size: cover !important;
  left: 0px;
  bottom: 0px;
  padding: 70px 10px 10px 20px;
  color: #CCCCCC;
  width: 100%;
  min-height: 310px;
}
#section4 p {
  color: #fff;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway',sans-serif;
}

#section4 h1{
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  font-size: 27px;
  line-height: 25px;
  font-weight: normal;
  letter-spacing: 1.2px;
}

#section4 img{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
#section4 a {
  color: #fff;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}

#section4 .element1{
  width: 300px;
}

.fa-mars{
  color: #fff;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}

.fa-venus{
  color: #fff;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}

.fa-phone-square{
  color: #fff;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
  &:hover{
  color: #c39f76;
  }
}

.fa-envelope{
  color: #fff;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
  &:hover{
  color: #c39f76;
  }
}

.fa-twitter{
  color: #fff;
  &:hover{
  color: rgb(51,204,255);
  }
}

.footer .fa-facebook{
  color: #fff;
  &:hover{
  color: #3b5998;
  }
}

.fa-youtube{
  color: #fff;
  &:hover{
  color: rgb(187, 0, 0);
  }
}

.fa-instagram{
  color: #fff;
  &:hover{
color: #f09433;
color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
color: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
}
