// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  position: relative;
}

.banner{
  width: 100%;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 {
  padding-top:80px;
  background-color: #fff;
}

.principal-section1 img{
  max-width: 850px;
  max-height: 600px;
  padding-right: 30px;
  padding-bottom: 60px;
}

.principal-section1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px 80px;
  height: auto;
}

.element2{
  max-width: 500px;
  height: auto;
}

.element2 h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500px;
  line-height: 33px;
  color: #222222;
  margin-top: 0px;
}

.element2 p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500px;
  line-height: 22px;
  color: #888888;
}
#section2 {padding-top:80px;background-color: red;}
#section3 {padding-top:80px;height:500px;color: #fff; background-color: #ff9800;}
