// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  position: relative;
}

.banner{
  width: 100%;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
// section 1
#section1 {
  padding-top:80px;
  background-color: #fff;
}

.principal-section1 img{
  max-width: 750px;
  max-height: 600px;
  padding-right: 30px;

}

.principal-section1{
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: space-around;
  padding: 80px 40px;
  height: auto;
}

.element2{
  max-width: 500px;
  height: auto;
}

.element2 h2{
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 20px;
  color: #222222;
  margin-top: 0px;
}

.element2 p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500px;
  line-height: 22px;
  color: #888888;
  padding-bottom: 20px;
}

// section 2
#section2 {
  padding-top:80px;
  min-height:500px;
  background-color: #fff;
}

#section2 p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500px;
  line-height: 22px;
  color: #888888;
  padding-bottom: 20px;
}
#section2 h1{
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 20px;
  color: #222222;
}
#section2 .principal{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}

#section2 .element1{
  width: 400px;
  height: 400px;
  border-radius: 1px solid black;
}

#section2 .link {
  &:hover{
  color: #c39f76;
  cursor: pointer;
  }
}

// section 3
#section3 {
  padding-top:80px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
  color: black;
  background-color: #fff;
}

#section3 .principal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: auto;
}

#section3 .man{
  display: block;
  width: 48%;
}

#section3 .women{
  display: block;
  width: 48%;
}

#section3 h1{
  color: rgb(34,34,34);
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

#section3 h2{
  display:inline-block;
  color: #fff;
  background: black;
  padding: 10px;
  font-family: 'Montserrat',sans-serif;
  font-size: 17px;
  line-height: 25px;
  font-weight: normal;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}

#section3 h3{
  color: black;
  font-family: 'Montserrat',sans-serif;
  font-size: 17px;
  line-height: 25px;
  font-weight: normal;
  letter-spacing: 1.2px;
}
#section3 {
ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    color: black;
    font-family: 'Montserrat',sans-serif;
    font-size: 17px;
    line-height: 60px;
    font-weight: normal;
    letter-spacing: 1.2px;
  }
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    color: #dddddd;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white;
    line-height: 3;}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white}
  }

.fa-euro:before, .fa-eur:before{
  font-size: 20px;
  color: #c39f76;
}



// section 3 for responsive ipad and iphone
@media screen and (min-width: 200px) and (max-width: 1100px) {

  #section3 {
    padding-left: auto;
    padding-right: auto;
  }
  #section3 .principal{
    justify-content: center;
  }
  #section3 .man{
    display: block;
    width: 100%;
  }

  #section3 .women{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 200px) and (max-width: 594px) {
  iframe{
    height:200px;
  }

  .element2 h2{
    font-size: 25px;
    text-align: center;
  }

  .principal-section1{
    padding: 10px 40px;
  }

  #section3 {
    padding-left: 30px;
    padding-right: 30px;
  }

    #section2 p{
      padding-left: 30px;
      padding-right: 30px;
    }

  .fa-euro:before, .fa-eur:before{
    font-size: 14px;
    color: #c39f76;
  }

  #section3 {
  ul.leaders {
      font-size: 11px;
    }
  }
}
// end
