<div id="section4" >
  <div class="element1 text-center">
    <i class="fa fa-mars" aria-hidden="true"></i><%= image_tag "logo1.png" %> <i class="fa fa-venus" aria-hidden="true"></i>
    <p>un salon de coiffure où l'on est bien, c'est l'essentiel, non ??</p>
  </div>
  <div class="text-center element1">
    <h1>Localisation</h1>
    <p>98 cours du général de gaulle </br> Gradignan 33 170</p>
    <%= mail_to "lahitte.florian@gmail.com" do %>
    <i class="fa fa-envelope" aria-hidden="true"><% end %></i>
     <a href="tel:+337-81-24-37-02"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
  </div>
  <div class="element1 text-center">
    <h1>Suivez Nous</h1>
    <ul class="list-inline text-center">
      <li><a href=""><i class="fa fa-youtube"></i></a></li>
      <li><a href=""><i class="fa fa-instagram"></i></a></li>
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
</div>
